<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twitter Node app</title>
  <link rel="stylesheet" href="/style.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/script.js" type="text/javascript"></script>
</head>
<body>