.form input[type="text"] {
  font-size: 2em;
  height: 2em;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 25px;
}

button {
  font-size: 2em;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}