<% include ../partials/header.ejs %>

<% if (tweets[0].entities.media) { %>
  <img src="<%= tweets[0].entities.media[0].media_url %>" alt="<%= tweets[0].id_str %>'s first picture">
<% } %>

<h1><%= tweets[0].id_str %>'s info</h1>

<% include ../partials/tweets.ejs %>
<% include ../partials/footer.ejs %>